@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #cafdff;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
  justify-content: right;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}
