@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

nav {
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 16px;
  background-color: #cafdff;
}

.logo {
  width: 300px;
}

ul {
  display: flex;
  justify-content: right;
  gap: 20px;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
  font-size: 18px;
  font-weight: 700;
  color: #333;
}

header {
  background-color: #eadcff;
  height: calc(100vh - 70px);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 24px;
}

.header-container {
  width: 100%;
  max-width: 1200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 72px;
  font-weight: 900;
  color: #333;
}

.subheader {
  font-size: 36px;
  margin: 16px 0 24px 0;  
}

button {
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 12px 24px;
  font-size: 18px;
  font-weight: 700;
  border-radius: 8px;
  cursor: pointer;
}

#about {
  padding: 48px 0;
}

h2 {
  font-size: 60px;
  text-align: center;
  margin-bottom: 24px;
}

.section__description {
  display: flex;
  justify-content: center;
  align-items: center;
}

.about__image--wrapper {
  width: 40%;
}

img {
  width: 100%;
}

.section__description--wrapper {
  width: 60%;
}

.about__image--wrapper,
.section__description--paragraph {
  padding: 0 24px;
}

.section__description--paragraph {
  font-size: 20px;
  line-height: 1.5;
  color: #333;
  margin-bottom: 24px;
}